In [1]:
from sklearn.datasets import fetch_20newsgroups
import os
import pandas as pd

Dataset: 20Newsgroup

download: http://qwone.com/~jason/20Newsgroups/

preprocess: https://scikit-learn.org/0.19/datasets/twenty_newsgroups.html

In [2]:
data_path = "data/20news-bydate/"
if not os.path.exists(data_path):
    os.mkdir(data_path)

data_train = fetch_20newsgroups(data_home= data_path, subset='train',
                                shuffle=True, random_state=42,)

data_test = fetch_20newsgroups(data_home= data_path, subset='test', 
                               shuffle=True, random_state=42,)
print('data loaded')

data loaded

In [18]:
data_columns = ["filenames","data","target"]
df_train = pd.DataFrame(data_train, columns = data_columns)
df_test = pd.DataFrame(data_test, columns = data_columns)
df_train.head()

,filenames,data,target
0,data_path/20news_home/20news-bydate-train/rec....,From: lerxst@wam.umd.edu (where's my thing)\nS...,7
1,data_path/20news_home/20news-bydate-train/comp...,From: guykuo@carson.u.washington.edu (Guy Kuo)...,4
2,data_path/20news_home/20news-bydate-train/comp...,From: twillis@ec.ecn.purdue.edu (Thomas E Will...,4
3,data_path/20news_home/20news-bydate-train/comp...,From: jgreen@amber (Joe Green)\nSubject: Re: W...,1
4,data_path/20news_home/20news-bydate-train/sci....,From: jcm@head-cfa.harvard.edu (Jonathan McDow...,14

In [15]:
data_train.target_names

['alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc']

In [17]:
df_train.target.value_counts()

10    600
15    599
8     598
9     597
11    595
13    594
7     594
14    593
5     593
12    591
2     591
3     590
6     585
1     584
4     578
17    564
16    546
0     480
18    465
19    377
Name: target, dtype: int64

dataset: https://trec.nist.gov/data/reuters/reuters.html