In [2]:
import os
import pandas as pd 

df = pd.DataFrame(columns=['category', 'count'])
path = '../data/ohsumed-all-docs/ohsumed-all'
files = os.listdir(path)
for f in files:
    # print(f)
    # print(path+'/'+f)
    category_files = os.listdir(path+'/'+f)
    # print(len(category_files))
    df = df.append({'category': f, 'count': len(category_files)}, ignore_index=True)

In [3]:
df

   category count
0       C02  1171
1       C08  2589
2       C13  1623
3       C16  1086
4       C18  1919
5       C15  1277
6       C23  9611
7       C22   506
8       C12  2518
9       C05  1678
10      C07   526
11      C03   427
12      C04  6327
13      C21  2933
14      C19   865
15      C11   998
16      C14  6102
17      C01  2540
18      C10  3851
19      C20  3116
20      C06  2989
21      C09   715
22      C17  1617

In [1]:
f = open("../data/ohsumed-all-docs/First-Level-Categories-of-Cardiovascular-Disease.txt", "r")
for x in f:
  print(x)

Bacterial Infections and Mycoses                      C01

Virus Diseases                                        C02

Parasitic Diseases                                    C03

Neoplasms                                             C04

Musculoskeletal Diseases                              C05

Digestive System Diseases                             C06

Stomatognathic Diseases                               C07

Respiratory Tract Diseases                            C08

Otorhinolaryngologic Diseases                         C09

Nervous System Diseases                               C10

Eye Diseases                                          C11

Urologic and Male Genital Diseases                    C12

Female Genital Diseases and Pregnancy Complications   C13

Cardiovascular Diseases                               C14

Hemic and Lymphatic Diseases                          C15

Neonatal Diseases and Abnormalities                   C16

Skin and Connective Tissue Diseases                   C17

Nutritional and Metabolic Diseases                    C18

Endocrine Diseases                                    C19

Immunologic Diseases                                  C20

Disorders of Environmental Origin                     C21

Animal Diseases                                       C22

Pathological Conditions, Signs and Symptoms           C23